.App {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  position: relative;

}

.buttons3 {
  background-color: #82b7ca; /* Green */
   visibility: visible;
   border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 border-radius: 8px;
 }

.Container {
  display: grid;
  grid-template-rows: auto auto auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: -10%;
  position: relative;               /* 2 */
   left: 50%;                         /* 3 */
   transform: translate(-50%);  /* 4 */
}

img {
  display: grid;
  grid-template-rows: auto auto auto;  /*Add this*/
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  width: 50%;
  height: auto;
  /* width: auto; */
  margin-bottom: -5%;
  /* object-fit: cover;  */
}

.vid {
  display: grid;
  grid-template-rows: auto auto auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: -10%;
}

button {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: crimson;
  color: #fff;
  margin-top: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}